.app {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  height: 100vh;
  color: var(--text-color-primary);
  background-color: var(--background-color);
}

.main-navigation {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: var(--padding);
  border-radius: var(--border-radius);
  background-color: var(--deep-blue-color);
}

.link-container {
  display: flex;
  flex-direction: column;
}

.main-navigation a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: stretch;
  font-size: calc(var(--font-size) * 0.8);
  color: var(--text-color-primary);
  padding: var(--padding);
  border-radius: var(--circular-radius);
  border: 1px solid var(--accent-color);
  margin: var(--menu-margin);
}

.main-section {
  display: flex;
  flex: 3;
  justify-content: flex-start;
  align-items: stretch;
  padding: var(--padding);
  margin: var(--margin);
}
