body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  /* Colors */
  --background-color: #121212;
  --accent-color: #00e5fe;
  --secondary-color: #216bbf;
  --purple-accent-color: #5a7be7;
  --deep-blue-color: #1a2134;
  --white-color: #fff;
  --black-color: #000;
  --text-color-primary: #e1e1e1;

  /* Sizes */
  --border-radius: 8px;
  --circular-radius: calc(var(--border-radius) * 4);
  --menu-margin: 4px;
  --padding: 16px;
  --font-size: 1.5rem;
}
